@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.Player1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s;
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}
.TimeLimit{
    position: absolute;
    top: 105%;
    left: 0px;
    right: 0px;
    font-size: 50px;
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.Game{
    position: absolute;
    top: calc(50% - 650px/2);
    left:  calc(50% - 1050px/2);
    margin: 20px;
    height: 600px;
    width: 1000px;
    border: 2px red solid;
    background-color: black;
    z-index: -2;
}
.Boss{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all .3s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: blue;
    top: -100%;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
}
.TargetVerticalLaser{
    background-color: rgba(0, 0, 255, 0.5);
    height: 100%;
    width:100px;
}
.TargetHorizontalLaser{
    background-color: rgba(0, 0, 255, 0.5);
    height: 100px;
    width: 100%;
}
.VerticalLaser{
    background-color: blue;
    height: 100%;
    width: 100px;
}
.HorizontalLaser{
    background-color: blue;
    height: 100px;
    width: 100%;
}
.GameUItext{
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: darkred;
    text-align: center;
    top: 150px;
    bottom: 0px;
    z-index: -1;
}
.Weak{
    position: absolute;
    background-color: black;
    z-index: -1;
    left: -105px;
    top: 0px;
    width: 100px;
    height: 100px;
}
.finished{
    position: absolute;
    transition: all .5s;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finishtext{
    content: '';
    transition: all .5s;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    color: rgba(255, 0, 0, 1);
}
.keys{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}
.keys p{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}